body {}

.app {}

.app #leaflet-map {
    position: absolute;
    z-index: 5;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
}

.app .menu {
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 0;
    background: #333;
    color: white;
}

.app .canvas-container {
    position: absolute;
    z-index: 90;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
